{erl_opts,
 [{src_dirs, ["src", "example"]},
  {i, ["include"]},
  {parse_transform, lager_transform},
  {platform_define, "R1[45]", 'PRE_R16'}]}.

{require_otp_vsn, "R1[456]"}.

{deps,
 [{lager, "2.0.0", {git, "git@github.com:basho/lager.git", {tag, "2.0.0"}}},
  {exml, "2.1.2", {git, "git@github.com:chrisyunker/exml.git", {tag, "2.1.2"}}}]}.

